---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include html_head.html %}
    </head>
    <body>
        <div class="center-column-container">
            {% include header.html with_header_text="1" %}
        </div>

        {% include games.html %}
        
        <div class="center-column-container">
            {% include team.html %}
            {% include contact.html with_newsletter="1" %}

            <div id="footer">
                <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy & Legal Notice</a>
            </div>
        </div>
    </body>
</html>