<div id="cookie-footer">
	<div class="center-column-container">
		<p>This website uses tracking cookies to improve your experience.</p>
		<div class="buttons">
			<button onclick="acceptCookies(true)" class="ok-button">Accept</button>
			<button onclick="acceptCookies(false)" class="ko-button">Decline</button>
		</div>
	</div>
</div>

<div id="dnt-footer">
	<div class="center-column-container">
		<p>Do Not Track policy is enabled. We respect your choice.</p>
		<div class="buttons">
			<button onclick="closeDNTNotification()" class="ok-button">Close</button>
		</div>
	</div>
</div>