{% capture section_content %}
    {% for game in site.games %}
    <div class="game-container shadowed">
        <div class="center-column-container">
            <img class="game-splash" src="{{ site.baseurl }}/assets/images/games/{{ game.splash }}.png" />

            <div class="game-data">
                <div class="game-title">{{ game.name }}</div>
                <div class="game-description">{{ game.content }}</div>
                <div class="game-links">
                    <a href="{{ game.site_url }}" target="_blank">{{ game.short_url }}</a> / <a href="{{ game.presskit_url }}" target="_blank">Presskit</a>
                </div>
            </div>
        </div>

        <div class="game-store-container">
            <div class="center-column-container">
                Disponible sur :
                <div class="game-stores">
                {% for store in game.stores %}
                    <a href="{{ store.url }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/stores/{{ store.icon }}.png" alt="{{ store.name }}" /></a>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="game-footer">
            <div class="center-column-container">
                <div class="game-links">
                {% for link in game.links %}
                    <img src="{{ site.baseurl }}/assets/images/icons/{{ link.icon }}.png"> 
                    {% if link.url %}<a href="{{ link.url }}">{% endif %}
                    {{ link.name }}
                    {% if link.soon %}/ <strong>Coming Soon</strong>{% endif %}
                    {% if link.url %}</a>{% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endcapture %}

{% include section.html title="Games" id="games" content=section_content %}
