{% capture section_content %}
    {% for game in site.games %}
    <div class="game-container shadowed">
        <div class="center-column-container">
            <div class="game-splash">
                <a href="{{ game.site_url }}" target="_blank"><img src="{{ "/assets/images/games/" | append: game.splash | append: ".png" | relative_url }}" alt="{{ game.short_name }} poster" /></a>
            </div>

            <div class="game-data">
                <h2 class="game-title">{{ game.name }}</h2>
                <div class="game-description">{{ game.content }}</div>
                <div class="game-links">
                    <a href="{{ game.site_url }}" target="_blank">{{ game.short_url }}</a> / <a href="{{ game.presskit_url }}" target="_blank">Presskit</a>
                </div>
            </div>
        </div>

        <div class="game-store-container">
            <div class="center-column-container">
                Available on:
                <div class="game-stores">
                {% for store in game.stores %}
                    {% assign store_prefix = " the " %}
                    {% if store.name == "Google Play" %}
                        {% assign store_prefix = "" %}
                    {% elsif store.name == "Steam" %}
                        {% assign store_prefix = "" %}
                    {% elsif store.name == "GOG" %}
                        {% assign store_prefix = "" %}
                    {% endif %}
                    {% assign store_alt = "Get " | append: game.short_name | append: " on " | append: store_prefix | append: store.name %}
                    {% if store.onclick_method %}
                        {% assign uri = "#" %}
                        {% assign onclick = "onclick='return " | append: store.onclick_method | append: "()'" %}
                    {% else %}
                        {% assign uri = store.url %}
                        {% assign onclick="" %}
                    {% endif %}
                    <a href="{{ uri }}" target="_blank" {{ onclick }}><img src="{{ "/assets/images/stores/" | append: store.icon | append: ".png" | relative_url }}" alt="{{ store_alt }}" /></a>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="game-footer">
            <div class="center-column-container">
                {% for link in game.links %}
                    <div class="game-links">
                        <img src="{{ "/assets/images/icons/" | append: link.icon | append: ".png" | relative_url }}"> 
                        {% if link.url %}<a href="{{ link.url }}">{% endif %}
                        {{ link.name }}
                        {% if link.soon %}/ <strong>Coming Soon</strong>{% endif %}
                        {% if link.url %}</a>{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endcapture %}

{% include section.html title="Games" id="games" content=section_content %}
