<script type="application/javascript">
var geoipData = {
    data: null,

    isCalifornia: function() {
        return (this.data == null) ? false : (this.data.country_code3 == 'USA' && this.data.region == 'California');
    },

    isEurope: function() {
        return (this.data == null) ? false : (this.data.continent_code == 'EU');
    },

    isAfrica: function() {
        return (this.data == null) ? false : (this.data.continent_code == 'AF');
    },

    isAmerica: function() {
        return (this.data == null) ? false : [ 'NA', 'SA' ].includes(this.data.continent_code);
    },

    isOrendaTerritory: function() {
        if (this.data == null) {
            return false;
        }
        else {
            const orendaCountries = [ 'HKG', 'JPN', 'MYS', 'SGP', 'TWN', 'CHN' ];
            return orendaCountries.includes(this.data.country_code3);
        }
    },

    isChina: function() {
        return (this.data == null) ? false : (this.data.country_code3 == 'CHN');
    }
};
function geoip(json) {
    geoipData.data = json;
}
</script>
<script async src="https://get.geojs.io/v1/ip/geo.js"></script>

<script type="application/javascript">
function cryingSunsIOS() {
    const humbleId = '1511788295';
    const orendaId = '1514360059';
    const orendaChinaId = '1518737497';
    var id = humbleId;
    if (geoipData.isOrendaTerritory()) {
        id = geoipData.isChina() ? orendaChinaId : orendaId;
    }
    const url = `https://apps.apple.com/app/crying-suns/id${id}`;
    window.open(url);
    return false;
}

function cryingSunsAndroid() {
    const humbleId = 'com.altshift.cryingsuns';
    const orendaId = 'com.altshift.orenda.cryingsuns';
    const id = geoipData.isOrendaTerritory() ? orendaId : humbleId;
    const url = `https://play.google.com/store/apps/details?id=${id}`;
    window.open(url);
    return false;
}

function notnotEShop() {
    const euURL = 'https://www.nintendo.co.uk/Games/Nintendo-Switch-download-software/Not-Not-A-Brain-Buster-1530202.html';
    const usaURL = 'https://www.nintendo.com/games/detail/not-not-a-brain-buster-switch/';
    const asiaURL = 'https://store-jp.nintendo.com/list/software/70010000027797.html';

    var url = asiaURL;
    if (geoipData.isAmerica()) {
        url = usaURL;
    }
    else if (geoipData.isEurope() || geoipData.isAfrica()) {
        url = euURL;
    }
    window.open(url);
    return false;
}

function notnotPlayStationStore() {
    const euURL = 'https://store.playstation.com/en-gb/product/EP2696-CUSA25840_00-NOTNOTPS4V100000';
    const usaURL = 'https://store.playstation.com/en-us/product/UP2833-CUSA25839_00-NOTNOTPS4V100000';
    const asiaURL = '';

    var url = asiaURL;
    if (geoipData.isAmerica()) {
        url = usaURL;
    }
    else if (geoipData.isEurope() || geoipData.isAfrica()) {
        url = euURL;
    }
    window.open(url);
    return false;
}
</script>