<div id="header">
    <div id="header-socials">
        <div>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/twitter-48px.png" alt="Join Alt Shift on Twitter" class="header-social-icon" /></a>
            <a href="https://fb.me/{{ site.facebook_username }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/facebook-48px.png" alt="Join Alt Shift on Facebook" class="header-social-icon" /></a>
            <a href="#" class="email-icon"><img src="{{ site.baseurl }}/assets/images/letter-48px.png" alt="Contact Alt Shift by email" class="header-social-icon" /></a>
            {% if include.with_header_text %}
            <a href="#contact-section" id="header-sign-up">
                SIGN UP
                <img src="{{ site.baseurl }}/assets/images/newsletter.png">
            </a>
            {% endif %}
        </div>
    </div>

    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="Alt Shift logo" /></a>
    <div class="subtitle">{{ site.subtitle }}</div>
    {% if include.with_header_text %}
    <p>Welcome! Alt Shift is an independent game studio located in the city of Montpellier, in the sunny South of France.<br />
        Founded by university classmates gathered by the desire to innovate and now driven by a senior team of passionate designers, Alt Shift aims to offer original and clever gaming experiences on PC/Mac, consoles and mobile platforms.</p>
    <p id="presskit"><a href="{{ site.presskit_url }}" target="_blank">PRESSKIT</a></p>
    {% endif %}
</div>