<div id="header">
    <div id="header-socials">
        <div>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/twitter-48px.png" alt="Twitter" class="header-social-icon" /></a>
            <a href="https://fb.me/{{ site.facebook_username }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/facebook-48px.png" alt="Facebook" class="header-social-icon" /></a>
        </div>
        <a href="#" class="email-icon"><img src="{{ site.baseurl }}/assets/images/letter-48px.png" alt="Email" class="header-social-icon" /></a>
    </div>

    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="{{ site.title }}" /></a>
    <div class="subtitle">{{ site.subtitle }}</div>
    {% if include.with_header_text %}
    <div class="paragraph">Welcome! Alt Shift is an independent game studio located in the city of Montpellier, in the sunny South of France.<br />
        Founded by university classmates gathered by the desire to innovate and now driven by a senior team of passionate designers, Alt Shift aims to offer original and clever gaming experiences on PC/Mac, consoles and mobile platforms.</div>
    {% endif %}
</div>