<meta charset="UTF-8" />
{% assign title = site.title | append: " - " | append: site.subtitle %}
{% if include.page_title %}
{% assign title = title | append: " - " | append: include.page_title %}
{% endif %}
<title>{{ title }}</title>
<meta name="keywords" content="{{ site.keywords | join: ", "}}" />
<meta name="description" content="{{ site.description }}" />
<meta property="og:title" content="{{ title }}"/>
<meta property="og:type" content="Website"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:image" content="{{ site.url | append: site.baseurl | append: "/assets/images/alt-shift-logo-og.jpg" }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% include favicons.html %}
<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" type="text/css" />
<script type="text/javascript">
{% include scripts/email_script.js %}
</script>
{% include geoip.html %}
{% include tracking.html %}