{% capture section_content %}
    <div id="partners">
    {% for partner in site.partners %}
        <a href="{{ partner.site_url }}" target="_blank"><img src="{{ "/assets/images/partners/" | append: partner.image | append: ".png" | relative_url }}" alt="{{ partner.name }}" /></a>
    {% endfor %}
    </div>

    <div id="investors">
    {% for member in site.team_members %}
        {% if member.partner %}
            {% include team_member.html member=member %}
        {% endif %}
    {% endfor %}
    </div>
{% endcapture %}

{% include section.html title="Partners" id="partners" content=section_content %}
