{% capture section_content %}
    {% for member in site.team_members %}
        {% if member.title != "Investor" %}
            {% include team_member.html member=member %}
        {% endif %}
    {% endfor %}

    <div id="investors">
    {% for member in site.team_members %}
        {% if member.title == "Investor" %}
            {% include team_member.html member=member %}
        {% endif %}
    {% endfor %}
    </div>
{% endcapture %}

{% include section.html title="Team" id="team" content=section_content %}
