---
---

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$lightColor: #ffffff;
$buttonBackgroundColor: #69b884;
$darkButtonBackgroundColor: #408358;
$grayTextColor: #878787;
$darkColor: #202020;
$darkerColor: #171717;
$darkestColor: #101010;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background-color: $darkColor;
}

strong {
  font-weight: $fontWeightBold;
}

.center-column-container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#header {
  position: relative;
  margin-top: 80px;
}

#header .subtitle {
  text-align: left;
  margin-top: 0;
}

#header .paragraph {
  font-weight: $fontWeightLight;
  font-size: 18px;
  color: $lightColor;
  text-align: center;
  margin: 40px 20px;
}

#header-socials {
  position: absolute;
  right: 0;
  text-align: right;
}

#header-socials a {
  font-weight: $fontWeightLight;
  color: $grayTextColor;
}

.header-social-icon {
  margin-bottom: 10px;
  margin-left: 10px;
}

a#header-sign-up {
  position: absolute;
  top: 100%;
  left: 10px;
  right: 3px;
  text-align: left;
  background-color: $buttonBackgroundColor;
  border-radius: 3px;
  text-decoration: none;
  color: $darkestColor;
  font-weight: $fontWeightBold;
  box-sizing: border-box;
  line-height: 48px;
  padding: 0 48px 0 20px;
  font-size: 20px;
}

a#header-sign-up:hover {
  background-color: $darkButtonBackgroundColor;
}

#header-sign-up img {
  position: absolute;
  right: 20px;
  top: 14px;
}

#privacy-policy-section p,
#privacy-policy-section ul {
    text-align: justify;
    color: $grayTextColor;
    font-weight: $fontWeightRegular;
    margin: 5px 80px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: $grayTextColor;
  font-weight: $fontWeightLight;
  font-size: 12px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
    font-size: 29px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h1,
#header .subtitle {
  font-weight: $fontWeightLight;
  font-size: 36px;
  color: $grayTextColor;
}

.section-separator-container {
  text-align: center;
  margin-top: 30px;
}

.section-separator-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-color: $darkestColor;
  border-radius: 6px;
}

.section-separator-item:first-of-type {
  margin-left: 10px;
}

.game-container {
  position: relative;
  height: 400px;
  margin: 60px 0px;
  margin-bottom: 120px;
  background-color: $darkestColor;
}

.game-container:last-of-type {
  margin-bottom: 60px;
}

.game-footer {
  position: absolute;
  height: 54px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $darkerColor;
}

.game-container .center-column-container {
  padding-left: 320px;
  box-sizing: border-box;
}

.game-splash {
  position: absolute;
  left: 0;
  top: -40px;
  height: 480px;
  width: 320px;
  z-index: 1000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.game-splash img {
  transition: 250ms ease-out;
  width: 100%;
  height: 100%;
}

.game-splash img:hover {
  transform: scale(1.05);
  transition: 500ms ease-out;
}

.game-data {
  padding: 20px;
}

.game-title {
  color: $lightColor;
  font-weight: $fontWeightBold;
  font-size: 24px;
  margin: 0 0 10px 0;
  text-align: left;
}

.game-description {
  color: $lightColor;
  font-weight: $fontWeightLight;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;
}

.game-links {
  color: $lightColor;
  font-size: 16px;
  font-weight: $fontWeightRegular;
}

.game-links a {
  color: $lightColor;
}

.game-footer .game-links {
  padding: 0px 20px;
  line-height: 54px;
}

.game-footer .game-links img {
  margin-left: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.game-footer .game-links img:first-child {
  margin-left: 0;
}

.game-store-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 54px;
  color: $lightColor;
}

.game-store-container .center-column-container {
  padding: 20px;
  padding-left: 340px;
}

.game-stores {
  margin-top: 10px;
}

.game-stores a {
  margin-right: 10px;
}

.shadowed {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5) inset,
    0px 1px 1px rgba(255, 255, 255, 0.25);
}

#team-section {
  text-align: center;
}

.team-member {
  position: relative;
  display: inline-block;
  min-width: 160px;
  margin: 10px 20px;
  color: $lightColor;
  text-align: left;
  font-size: 12px;
}

.team-member-identity {
  position: relative;
  display: inline-block;
}

.team-member-name {
  font-weight: $fontWeightBold;
}

.team-member-title {
  font-weight: $fontWeightLight;
}

.team-member-socials {
  position: absolute;
  left: 100%;
  top: 2px;
  text-align: right;
  white-space: nowrap;
  margin-left: 10px;
}

.team-member-social-icon {
  width: 24px;
}

#investors {
  margin-top: 40px;
}

#footer {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: $fontWeightRegular;
  font-size: 14px;
  color: $grayTextColor;
  text-align: center;
}

#footer a, #newsletter-container p a {
  color: $grayTextColor;
}

#footer-socials {
  text-align: center;
}

.footer-social-icon {
  height: 48px;
  width: 48px;
  margin: 0 5px;
}

#newsletter-container {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: $fontWeightLight;
  color: $grayTextColor;
}

#newsletter-container p {
  margin-bottom: 10px;
}

// -------------------
// Mailchimp
// -------------------

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  margin: 5px 160px;
}

#mc_embed_signup input {
  border: 1px solid #abb0b2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: $fontWeightRegular;
  font-size: 20px;
  color: $darkColor;
  box-sizing: border-box;
}

#mc_embed_signup input[type="email"] {
  height: 54px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#mc_embed_signup input[type="checkbox"] {
  -webkit-appearance: checkbox;
  width: auto;
}

#mc_embed_signup input[type="radio"] {
  -webkit-appearance: radio;
}

#mc_embed_signup input:focus {
  border-color: #333;
}

#mc_embed_signup input[type="submit"] {
  background-color: $buttonBackgroundColor;
  border: 0 none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.23s ease-in-out 0s;
  color: $darkColor;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: $fontWeightBold;
  height: 100%;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

#mc_embed_signup input[type="submit"]:hover {
  background-color: $darkButtonBackgroundColor;
  color: $lightColor;
}

#mc_embed_signup .small-meta {
  font-size: 11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 100%;
  min-height: 50px;
}

#mc_embed_signup .size1of2 {
  clear: none;
  float: left;
  display: inline-block;
  width: 46%;
  margin-right: 4%;
}

* html #mc_embed_signup .size1of2 {
  margin-right: 2%; /* Fix for IE6 double margins. */
}

#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px;
}

#mc_embed_signup .datefield,
#mc_embed_signup .phonefield-us {
  padding: 5px 0;
}

#mc_embed_signup .datefield input,
#mc_embed_signup .phonefield-us input {
  display: inline;
  width: 60px;
  margin: 0 2px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 0 2px 0;
}

#mc_embed_signup .phonefield-us .phonearea input,
#mc_embed_signup .phonefield-us .phonedetail1 input {
  width: 40px;
}

#mc_embed_signup .datefield .monthfield input,
#mc_embed_signup .datefield .dayfield input {
  width: 30px;
}

#mc_embed_signup .datefield label,
#mc_embed_signup .phonefield-us label {
  display: none;
}

#mc_embed_signup .indicates-required {
  text-align: right;
  font-size: 11px;
  margin-right: 4%;
}

#mc_embed_signup .asterisk {
  color: #e85c41;
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: 5px;
}

#mc_embed_signup .clear {
  clear: both;
}

#mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
  display: inline;
}

#mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  border: none;
}

#mc_embed_signup div#mce-responses {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 0.5em;
  font-weight: bold;
  top: -1.5em;
  text-align: center;
}

#mc_embed_signup #mce-error-response {
  display: none;
  color: #ff0000;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
}

#mc_embed_signup #num-subscribers {
  font-size: 1.1em;
}

#mc_embed_signup #num-subscribers span {
  padding: 0.5em;
  border: 1px solid #ccc;
  margin-right: 0.5em;
  font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: none !important;
  margin: 2px 0 1em 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41;
}

#mc_embed_submit_group {
  position: relative;
  font-size: 16px;
  text-align: center;
  margin: 1em 0;
}

#mc_embed_submit_group a {
  color: $grayTextColor;
}

#mc-field-group-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 54px;
  width: 500px;

  font-size: 14px;
  line-height: 54px;
}

#mc-field-group-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 54px;
  width: 140px;
}
