---
---

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$lightColor: #ffffff;
$buttonBackgroundColor: #69b884;
$darkButtonBackgroundColor: #408358;
$grayTextColor: #878787;
$darkColor: #202020;
$darkerColor: #171717;
$darkestColor: #101010;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background-color: $darkColor;
}

strong {
  font-weight: $fontWeightBold;
}

.shadowed {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5) inset,
    0px 1px 1px rgba(255, 255, 255, 0.25);
}

@media (min-device-width: 768px) {
  @import "_desktop";
}

@media (max-device-width: 767px) {
  @import "_mobile";
}
